@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    /* Minimum height set to full screen */
  body {
    min-height: 100vh; /* vh = viewport height */
    background: linear-gradient(to bottom, #1f2937, #000); /* gradient from gray-800 to black */
    color: #fff; /* Text color white */
  }
  }